<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Clue Note Pad</mat-card-title>
    </mat-card-header>
      <formly-form
        [form]="form"
        [fields]="fields"
        [options]="options"
        [model]="model"
        (modelChange)="onFormChange($event)"
      ></formly-form>
    <mat-card-actions align="start">
      <button mat-raised-button color="primary" (click)="options.resetModel()">Reset</button>
    </mat-card-actions>
  </mat-card>
</form>
